.bodygradient{
	width: 100%;
	background: var(--gra-full1);
	transition: all 1s ease-out;
}
.carouselcontainer{
	position: relative;
	display: block;
	top: -95px;
	height: 100vh;
	align-items: center;
}
.carouselitem{
	position: relative;
	display: block;
	align-items: center;
	margin-top: auto !important;
	margin-bottom: auto !important;
	overflow: hidden;
}
.carouselitem .owl-one{
	overflow-y: visible;
}
.carouselitem .owl-one .owl-stage-outer, .carouselitem .owl-stage{
	position: relative;
}
.carouselitem .owl-one .owl-item{
	position: relative;
	overflow-y: visible;
}
.carouselitem .owl-one .owl-item .wrap{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	overflow-y: visible;
}
.carouselitem .owl-one .owl-item .wrap a{
	display: flex;
	pointer-events: none;
	cursor: pointer;
	user-select: none;
	align-items: center;
	height: 100vh;
	overflow-y: visible;
}
.carouselitem .owl-one .owl-item.center .wrap a{
	pointer-events: auto;
}
.carouselitem .owl-one .owl-item .wrap a img{
	display: inline-flex;
	margin: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 35%;
	height: auto;
	user-select: none;
	transition: all .5s ease-out;
	z-index: 100;
	overflow-wrap: normal;
}
.carouselitem .owl-one .owl-item.active.center .wrap a img{
	width: 100%;
	user-select: none;
	transition: all .5s ease-out .12s;
	user-select: none;
	pointer-events: none;
}
.carouselitem h1{
	display: none;
	visibility: hidden;
	text-align: center;
}
.carouselitem a{
	text-decoration: none;
}

.carouselitem .charactor{
	position: absolute;
	display: flex;
	top: 00%;
	width: 100%;
	height: 100vh;
	margin: auto;
	pointer-events: none;
}
.carouselitem .charactor .owl-item{
	position: relative;
	display: block;
	height: 100vh;
}
.carouselitem .charactor .word{
	position: absolute;
	display: inline-flex;
	color: white;
	top: 50%;
	right: 50%;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	width: 100%;
	font-family: Fonth;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 120px;
	text-align: center;
	vertical-align: baseline;
	pointer-events: none;
	visibility: hidden;
	overflow: visible;
	z-index: 200;
	justify-content: center;
}
.carouselitem .charactor .word .char{
	position: relative;
	display: inline-block;
	visibility: hidden;
	user-select: none;
	opacity: 0;
	z-index: 200;
}
.carouselitem .charactor .owl-item.active.center .word .char{
	visibility: visible;
	opacity: 1;
	transform: translateY(-100px);
}
.carouselitem .charactor .owl-item.active.center .word .char1{
	animation: translateY .8s ease .3s;
	transition: opacity .1s ease .3s;
}
.carouselitem .charactor .owl-item.active.center .word .char2{
	animation: translateY .8s ease .4s;
	transition: opacity .1s ease .4s;
}
.carouselitem .charactor .owl-item.active.center .word .char3{
	animation: translateY .8s ease .2s;
	transition: opacity .1s ease .2s;
}
.carouselitem .charactor .owl-item.active.center .word .char4{
	animation: translateY .8s ease .3s;
	transition: opacity .1s ease .3s;
}
.carouselitem .charactor .owl-item.active.center .word .char5{
	animation: translateY .8s ease .5s;
	transition: opacity .1s ease .5s;
}
.carouselitem .charactor .owl-item.active.center .word .char6{
	animation: translateY .8s ease .4s;
	transition: opacity .1s ease .4s;
}
.carouselitem .charactor .owl-item.active.center .word .char7{
	animation: translateY .8s ease .3s;
	transition: opacity .1s ease .3s;
}

.carouselitem .carousel-owl-nav{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: 300;
	pointer-events: none;
}
.carouselitem .carousel-owl-nav .navbtn{
	position: relative;
	top: -10px;
	bottom: 0;
	margin-top: auto !important;
	margin-bottom: auto !important;
	pointer-events: auto;
	cursor: pointer;
	user-select: none;
}
.carouselitem .carousel-owl-nav .navbtn #iconnav{
	width: 100px;
	color: white;
	fill: white;
}



#standard{
	position: relative;
	display: block;
	font-family: Fonth;
	text-transform: uppercase;
	color: white;
	text-align: center;
	height: 400vh;
}
#standard video{
	width: 60%;
	margin: auto;
}




@media (max-width: 576px){
	.carouselitem .owl-item.active.center .wrap a img{
		width: 80%;
	}
	.carouselitem .charactor .word{
		font-size: 100px;
	}
}









