.break{
	padding-left: 10vw;
	padding-right: 10vw;
}
.bodygradient{
	width: 100%;
	background: var(--gra-full1);
	transition: all 1s ease-out;
}
.carouselcontainer{
	position: relative;
	display: block;
	top: -95px;
	height: 100vh;
	align-items: center;
}
.carouselitem{
	position: relative;
	display: block;
	align-items: center;
	margin-top: auto !important;
	margin-bottom: auto !important;
	overflow: hidden;
}
.carouselitem .owl-one{
	overflow-y: visible;
}
.carouselitem .owl-one .owl-stage-outer, .carouselitem .owl-stage{
	position: relative;
}
.carouselitem .owl-one .owl-item{
	position: relative;
	overflow-y: visible;
}
.carouselitem .owl-one .owl-item .wrap{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	overflow-y: visible;
}
.carouselitem .owl-one .owl-item .wrap a{
	display: flex;
	pointer-events: none;
	cursor: pointer;
	user-select: none;
	align-items: center;
	height: 100vh;
	overflow-y: visible;
}
.carouselitem .owl-one .owl-item.center .wrap a{
	pointer-events: auto;
}
.carouselitem .owl-one .owl-item .wrap a img{
	display: inline-flex;
	margin: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 35%;
	height: auto;
	user-select: none;
	transition: all .5s ease-out;
	z-index: 100;
	overflow-wrap: normal;
}
.carouselitem .owl-one .owl-item.active.center .wrap a img{
	width: 100%;
	user-select: none;
	transition: all .5s ease-out .12s;
	user-select: none;
	pointer-events: none;
}
.carouselitem h1{
	display: none;
	visibility: hidden;
	text-align: center;
}
.carouselitem a{
	text-decoration: none;
}

.carouselitem .charactor{
	position: absolute;
	display: flex;
	top: 0%;
	width: 100%;
	height: 100vh;
	margin: auto;
	pointer-events: none;
}
.carouselitem .charactor .owl-item{
	position: relative;
	display: block;
	height: 100vh;
}
.carouselitem .charactor .word{
	position: absolute;
	display: inline-flex;
	color: white;
	top: 50%;
	right: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	width: 100%;
	font-family: Fonth;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 120px;
	text-align: center;
	vertical-align: baseline;
	pointer-events: none;
	visibility: hidden;
	overflow: visible;
	z-index: 200;
	justify-content: center;
}
.carouselitem .charactor .word .char{
	position: relative;
	display: inline-block;
	visibility: hidden;
	user-select: none;
	opacity: 0;
	z-index: 200;
}
.carouselitem .charactor .owl-item.active.center .word .char{
	visibility: visible;
	opacity: 1;
}
.carouselitem .charactor .owl-item.active.center .word .char1{
	animation: translateY .8s ease .3s;
	transition: opacity .1s ease .35s;
}
.carouselitem .charactor .owl-item.active.center .word .char2{
	animation: translateY .8s ease .4s;
	transition: opacity .1s ease .45s;
}
.carouselitem .charactor .owl-item.active.center .word .char3{
	animation: translateY .8s ease .2s;
	transition: opacity .1s ease .25s;
}
.carouselitem .charactor .owl-item.active.center .word .char4{
	animation: translateY .8s ease .3s;
	transition: opacity .1s ease .35s;
}
.carouselitem .charactor .owl-item.active.center .word .char5{
	animation: translateY .8s ease .2s;
	transition: opacity .1s ease .25s;
}
.carouselitem .charactor .owl-item.active.center .word .char6{
	animation: translateY .8s ease .4s;
	transition: opacity .1s ease .45s;
}
.carouselitem .charactor .owl-item.active.center .word .char7{
	animation: translateY .8s ease .3s;
	transition: opacity .1s ease .35s;
}

.carouselitem .carousel-owl-nav{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: 300;
	pointer-events: none;
}
.carouselitem .carousel-owl-nav .navbtn{
	position: relative;
	top: -10px;
	bottom: 0;
	margin-top: auto !important;
	margin-bottom: auto !important;
	pointer-events: auto;
	cursor: pointer;
	user-select: none;
}
.carouselitem .carousel-owl-nav .navbtn #iconnav{
	width: 100px;
	color: white;
	fill: white;
}

#imgparallax{
	position: relative;
	display: block;
	width: 100%;
	height: 150vh;
}
#imgparallax .parallaxcontainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150vh;
}
#imgparallax .parallaxcontainer .layer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#imgparallax .parallaxcontainer .layer img{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
#imgparallax .parallaxcontainer #box1{
	left: 0;
	right: 0;
	margin-left: auto;
	width: 50vw;
	height: 50vh;
}
#imgparallax .parallaxcontainer #box1 .cloud{
	top: auto;
	bottom: 0;
	right: 8%;
	width: 85%;
	height: auto;
	margin: auto;
	pointer-events: auto;
}
#imgparallax .parallaxcontainer #box1 .box{
	left: 0;
	right: 0;
	margin: auto;
	width: auto;
	height: 95%;
	pointer-events: auto;
	transition: all .1s ease;
}
#imgparallax .parallaxcontainer #box1:hover .box{
	filter: drop-shadow(0px 0px 10px white);
}
#imgparallax .parallaxcontainer #box1:hover ~ .starcontainer .stardiv img{
	filter: drop-shadow(0px 0px calc(.8px*var(--i)) white);
	transition: all .1s ease-in calc(var(--i)*.1s);
}
#imgparallax .parallaxcontainer #box2{
	left: 0;
	right: 0;
	margin-right: auto;
	bottom: 0;
	margin-top: auto;
	width: 60vw;
	height: 50vh;
}
#imgparallax .parallaxcontainer #box2 .cloud{
	top: auto;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 85%;
	height: auto;
	pointer-events: auto;
}
#imgparallax .parallaxcontainer #box2 .box{
	left: 0;
	right: 0;
	top: auto;
	bottom: 0;
	margin: auto;
	width: auto;
	height: 90%;
	pointer-events: auto;
	transition: all .1s ease;
}
#imgparallax .parallaxcontainer #box2:hover .box{
	filter: drop-shadow(0px 0px 10px white);
	Tra
}
#imgparallax .parallaxcontainer #box2:hover ~ .starcontainer .stardiv img{
	filter: drop-shadow(0px 0px calc(.8px*var(--i)) white);
	transition: all .1s ease-in calc(.88s - var(--i)*.08s);
}
#imgparallax .parallaxcontainer #text1{
	left: 0;
	right: 0;
	margin-right: auto;
	width: 50vw;
	height: 50vh;
	text-align: center;
	align-content: center;
}
#imgparallax .parallaxcontainer #text2{
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
	margin-top: auto;
	margin-left: auto;
	width: 50vw;
	height: 50vh;
	text-align: center;
	align-content: center;
}
#imgparallax .parallaxcontainer .texthold{
	position: absolute;
	display: inline;
	width: 100%;
	height: 200px;
	top: 15%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	align-content: center;
	align-items: center;
	color: white;
}
#imgparallax .parallaxcontainer .texthold .headtext{
	font-family: Fonth;
	font-size: 4rem;
}
#imgparallax .parallaxcontainer .starcontainer{
	position: absolute;
	top: 50vh;
	left: 10%;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 35vw;
	height: 75vh;
	pointer-events: auto;
}
#imgparallax .parallaxcontainer .starcontainer:hover .stardiv img{
	filter: drop-shadow(0px 0px calc(.8px*var(--i)) white);
	transition: all .1s ease-in calc(var(--i)*.05s);
}
#imgparallax .parallaxcontainer .star{
	transform: rotate(calc(10deg*var(--i)));
}

#imgparallax .parallaxcontainer .stardiv img{
	width: calc(30px - 16.5px + var(--i)*1.5px);
	height: calc(30px - 16.5px + var(--i)*1.5px);
	pointer-events: auto;
	transition: all .15s ease-out calc(var(--i)*.05s);
}
#imgparallax .parallaxcontainer #star1 img{
	top: 0;
	left: auto;
	right: 0;
}
#imgparallax .parallaxcontainer #star2 img{
	top: 15%;
	left: 70%;
}
#imgparallax .parallaxcontainer #star3 img{
	top: 25%;
	left: 53%;
}
#imgparallax .parallaxcontainer #star4 img{
	top: 37%;
	left: 45%;
}
#imgparallax .parallaxcontainer #star5 img{
	top: 46%;
	left: 57%;
}
#imgparallax .parallaxcontainer #star6 img{
	top: 55%;
	left: 63%;
}
#imgparallax .parallaxcontainer #star7 img{
	top: 66%;
	left: 71%;
}
#imgparallax .parallaxcontainer #star8 img{
	top: 75%;
	left: 63%;
}
#imgparallax .parallaxcontainer #star9 img{
	top: 82%;
	left: 43%;
}
#imgparallax .parallaxcontainer #star10 img{
	top: 90%;
	left: 22%;
}
#imgparallax .parallaxcontainer #star11 img{
	top: auto;
	bottom: 0;
	left: 0;
}

@media (max-width: 576px){
	.carouselitem .owl-item.active.center .wrap a img{
		width: 80%;
	}
	.carouselitem .charactor .word{
		font-size: 100px;
	}
	.carouselitem .owl-one .owl-item.active.center .wrap a img{
		width: 74%;
	}
}
@media (max-width: 1200px){
	#imgparallax .parallaxcontainer #box1, #imgparallax .parallaxcontainer #box2{
		width: 70vw;
	}
}








