#navi{
	position: relative;
	display: flex;
	padding-top: 30px;
	padding-bottom: 10px;
	background: var(--gra-full);
	z-index: 10000;
	top: 0;
	transition-property: top;
	transition-duration: 1.5s;
	transition-timing-function: ease-in-out;
}
#navi a{
	text-decoration: none;
}
#navi .navlogo, #navi .navicon{
	position: relative;
	display: block;
	width: 15vw;
	max-width: 200px;
	min-width: 160px;
}
#navi .navlogo a{
	position: relative;
	display: inline-block;
}
#navi .navlogo img{
	position: relative;
	display: block;
	width: 100%;
	max-width: 160px;
	height: auto;
}
#navi .navicon ul{
	position: relative;
	display: flex;
	list-style: none;
	margin: 0px;
}
#navi .navicon a{
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
}
#navi .navicon a svg{
	position: relative;
	stroke: var(--g1);
	stroke-width: 2.2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
}
#navi .navicon .sign{
	margin-left: auto;
	margin-right: 30px;
	transform: translateX(0px);
	transition: all .5s ease;
}
#navi .navicon .sign a:hover .circle{
	animation: signhead 1s cubic-bezier(.33,0,.67,1);
}
#navi .navicon .cart span{
	position: absolute;
	display: block;
	top: -7px;
	right: -7px;
	border-radius: 50px;
	background: var(--c2);
	height: 20px;
	width: 20px;
	text-align: center;
	pointer-events: none;

}
#navi .navicon .cart span p{
	color: white;
	font-size: 14px;
	padding-top: 0.5px;
	margin: 0px;
}
#navi .navicon .cart a:hover .oval{
	transform-origin: center;
	animation: cartoval 1s ease;
}
#navi .navicon .cart a:hover span{
	animation: cartspan 1s ease;
}

#navi .navlink ul li, #navi .navicon ul li{
	padding-top: 10px;
}
#navi .navlink{
	position: relative;
	display: block;
	width: 100%;
}
#navi .navlink ul{
	position: relative;
	display: flex;
	list-style: none;
	width: 50%;
	max-width: 550px;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding: 0px;
	height: 100%;
}
#navi .navlink ul li{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#navi .navlink ul li a{
	text-align: center;
	vertical-align: middle;
	color: var(--g1);
	font-weight: bold;
	transition: all ease-in .4s;
}
#navi .navlink ul li a p{
	margin: 0px;
}
#navi .navlink ul li a:after{
	content: "";
	position: relative;
	display: block;
	width: 0%;
	height: 4px;
	margin: auto;
	border-radius: 500px;
	background: var(--gra-navi);
	transition: all .4s ease-in ;
}
#navi .navlink ul li a:hover{
	color: var(--c5);
	transition: all .4s ease-out;
}
#navi .navlink ul li a:hover:after{
	width: 100%;
	height: 4.5px;
	transition: all .4s ease ;
}
#navi .navlink ul li.active a{
	color: var(--c5);
}
#navi .navlink ul li.active a:after{
	width: 100%;
	height: 4.5px;
}


#navimobile{
	position: relative;
	display: flex;
	padding-top: 10px;
	z-index: 999;
}
#navimobile .logo{
	position: relative;
	display: block;
	margin: auto;
	width: 30%;
	max-width: 200px;
	min-width: 150px;
	margin-top: 10px;
	z-index: 999;
}
#navimobile .logo a{
	position: relative;
	display: inline-block;
}
#navimobile .logo img{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
#navimobile .menu{
	position: relative;
	display: block;
	width: 80px;
	height: 100%;
	z-index: 9990;

}
#navimobile .menu label{
	position: absolute;
	display: block;
	width: 34px;
	height: 22px;
	top: 50%;
	margin: 0px;
	transform: translateY(-50%);
	cursor: pointer;
}
#navimobile .menu input{
	display: none;
}
#navimobile .menu .burger-container{
	position: relative;
	display: block;
	width: 34px;
	height: 22px;
	overflow: hidden;
	transition: all .5s cubic-bezier(.72,.48,.6,.99);
	z-index: 9999;
}
#navimobile .menu .burger-container .burger{
	position: relative;
	display: block;
	width: 34px;
	height: 4px;
	border-radius: 100px;
	background-color: var(--g1);
	margin: 0px;
	margin-bottom: 5px;
	transition: transform 1s cubic-bezier(.48,-0.48,.47,1.63);
}
#navimobile .menu .circletransform{
	pointer-events: none;
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 1000000000px;
	opacity: 1;
	z-index: 10000;
	background: url(../img/bgmenu.webp);
	background-size: contain;
	background-position: center;
	transform: translate(-50%, -50%);
	transition: all .5s cubic-bezier(.72,.48,.6,.99);
	overflow: hidden;
}
#navimobile .menu .x-container{
	position: relative;
	display: block;
	top: -50%;
	left: 0;
	transform: rotate(0deg) scale(0);
	z-index: 1000000;
	transition: all .8s cubic-bezier(.58,.05,.35,.93);
}
#navimobile .menu .x-container .justx{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 35px;
	height: 5px;
	border-radius: 100px;
	transform-origin: center;
	background: white;
	z-index: 10001;
}
#navimobile .menu .x-container .justx:nth-child(1){
	transform: rotate(45deg);
}
#navimobile .menu .x-container .justx:nth-child(2){
	transform: rotate(-45deg);
}
#navimobile .cart{
	position: relative;
	display: block;
	width: 80px;
	height: 100%;
	z-index: 9980;
}
#navimobile .cart a{
	position: absolute;
	display: inline-block;
	right: 0;
	top: 52%;
	transform: translateY(-50%);
	cursor: pointer;
}
#navimobile .cart a svg{
	position: relative;
	stroke: var(--g1);
	stroke-width: 2.2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
}
#navimobile .cart span{
	position: absolute;
	display: block;
	top: -7px;
	right: -7px;
	border-radius: 50px;
	background: var(--c5);
	height: 20px;
	width: 20px;
	text-align: center;
	pointer-events: none;

}
#navimobile .cart span p{
	color: white;
	font-size: 14px;
	padding-top: 0.5px;
	margin: 0px;
}
#navimobile .cart a:hover .oval{
	transform-origin: center;
	animation: cartoval 1s ease;
}
#navimobile .cart a:hover span{
	animation: cartspan 1s ease;
}
#menucontainer{
	position: absolute;
	display: block;
	top: -10vh;
	left: -10vw;
	width: 100vw;
	height: 120vh;
	text-align: center;
	background: linear-gradient(to bottom, #B84A80 5%, #FFBC80 110%);
	opacity: 0;
	z-index: 10001;
	overflow: hidden;
	transition: opacity .3s ease-in-out 0s;
	pointer-events: none;
}
#menucontainer .logo, #menucontainer .cart{
}
#menucontainer .x-container{
	position: relative;
	display: block;
	top: 0;
	left: 0;
	transform: rotate(0deg) scale(1);
	z-index: 10001;
	transition: all .8s cubic-bezier(.58,.05,.35,.93);
}
#menucontainer .x-container .justx{
	position: absolute;
	display: block;
	width: 35px;
	height: 5px;
	border-radius: 100px;
	transform-origin: center;
	background: white;
	z-index: 10001;
}
#menucontainer .x-container .justx:nth-child(1){
	transform: rotate(45deg);
}
#menucontainer .x-container .justx:nth-child(2){
	transform: rotate(-45deg);
}
#menucontainer ul{
	position: relative;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	list-style: none;
	padding-top: 30vh;
	z-index: 9999;
}
#menucontainer ul li{
	align-self: center;
	transform: translateY(50px);
	opacity: 0;
	margin-bottom: 2%;
	transition: all .3s ease calc((var(--i)*.05s));
	pointer-events: none;
}
#menucontainer ul li a{
	position: relative;
	display: inline-block;
	color: var(--g1);
	text-decoration: none;
	fill: none;
	color: transparent;
	text-stroke: 1.5px white;
	-webkit-text-stroke: 1.5px white;
	-webkit-text-stroke-color: white;
	pointer-events: none;
}
#menucontainer ul li a p{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 800;
}
#menucontainer ul li a:hover p{
	transform: scale(1.1);
	font-weight: bold;
	filter: drop-shadow(0px 0px 5px white);
	color: white;
}
#menucontainer img{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
#menucontainer .cirleicon{
	position: relative;
	display: block;
	margin-top: 10%;
	margin-left: auto;
	margin-right: 20vw;
	width: 150px;
}
#menucontainer.checked .cirleicon{
	pointer-events: auto;
}
#menucontainer .cirleicon img{
	position: absolute;
	transition: all .2s ease;
}
#menucontainer .cirleicon img:nth-child(1){
	animation: spinsocks 10s linear infinite;
}
#menucontainer .cloud img{
	position: absolute;
}
#menucontainer .cloud{
	position: absolute;
	display: block;
	width: 80%;
}
#menucontainer .cloud1{
	top: 10%;
	right: -100%;
	transition: all 0s cubic-bezier(0,.44,.64,-0.21) .5s;
}
#menucontainer .cloud1 img{
	width: 80%;
	margin: auto;
}
#menucontainer .cloud2{
	bottom: 20%;
	left: -100%;
	transform: rotate(180deg);
	transition: all 0s cubic-bezier(0,.44,.64,-0.21) .5s;
}

#navimobile .menu .burger-container:hover .burger{
	transform: translateY(-27px);
}
#navimobile .menu .cirleicon:hover img:nth-child(2){
	filter: drop-shadow(0px 0px 5px white);
	transition: all .2s ease;
}
#menucontainer.checked .cloud1{
	right: -30%;
	transition: all 1.5s cubic-bezier(.4,.01,.76,.94) 0s;
}
#menucontainer.checked .cloud2{
	left: -40%;
	transition: all 1.2s cubic-bezier(.4,.01,.76,.94) 0.3s;
}
#navimobile .menu input:checked ~ .burger-container{
	transform: rotate(360deg) scale(0);
}
#navimobile .menu input:checked ~ .circletransform{
	width: 300vh;
	height: 300vh;
	transition: all .5s cubic-bezier(.47,.2,.41,.77);
}
#navimobile .menu input:checked ~ .x-container{
	transform: rotate(720deg) scale(1);
	transform-origin: center;
	transition: all .8s cubic-bezier(0,.41,.07,1.18);
}
#menucontainer.checked{
	opacity: 1;
	transition: opacity .8s ease-out .5s;
}
#menucontainer.checked ul li{
	transform: translateY(0px);
	opacity: 1;
	transition: all .4s ease-out calc((var(--i)*.1s) + .6s);
}
#menucontainer.checked ul li a{
	pointer-events: auto;
}
#modalcart{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	left: 0%;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 100000000000000;
	pointer-events: none;
}
#modalcart #modalbg{
	position: relative;
	display: block;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom, #B84A80 0%, #C74F80 40%, #FFBC80 100%);
	opacity: 0;
	pointer-events: none;
	transition: all .5s ease;
}
#modalcart.checked #modalbg{
	opacity: .8;
	pointer-events: auto;
	transition: all .5s ease-in .2s;
}
#cartcontainer{
	position: absolute;
	display: block;
	top: 0;
	right: calc(-100vw);
	width: 480px;
	height: 100vh;
	background-color: white;
	padding: 20px;
	box-shadow: -10px 0px 10px rgba(0, 0, 0, .1);
	pointer-events: auto;
	transition: all 1s cubic-bezier(.32,.01,.75,.35);
}
#modalcart.checked #cartcontainer{
	right: 0px;
	transition: all 1s cubic-bezier(0,.15,.13,.98) .5s;
}
#cartcontainer .closebtn{
	position: absolute;
	display: block;
	top: 30px;
	right: 30px;
}
#cartcontainer .closebtn button{
	position: relative;
	display: block;
	width: 25px;
	height: 25px;
	margin-left: auto;
	padding: 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transform: rotate(0deg);
	opacity: 0;
	transition: all .8s cubic-bezier(.85,.29,.91,.4);
}
#modalcart.checked #cartcontainer .closebtn button{
	transform: rotate(720deg);
	opacity: 1;
	transform-origin: center;
	transition: all .8s cubic-bezier(0,.41,.07,1.18) 1.3s;
}
#cartcontainer .closebtn button:focus{
	border: none;
	outline: none;
}
#cartcontainer .closebtn button div{
	position: relative;
	display: block;
	width: 25px;
	height: 25px;
	background-color: white;
}
#cartcontainer .closebtn button span{
	position: absolute;
	display: block;
	top: 20%;
	width: 25px;
	height: 3.5px;
	border-radius: 1000px;
	background-color: var(--c11);
	transform: rotate(45deg);
	transform-origin: center;
}
#cartcontainer .closebtn button span:nth-child(2){
	transform: rotate(-45deg);
}
#cartcontainer .closebtn button:hover span{
	background-color: var(--g1);
}
#cartcontainer .yc{
	position: relative;
	display: block;
	font-family: Fonth;
	color: #B94A80;
	text-align: center;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
}
#cartcontainer .checkcart{
	position: relative;
	display: block;
	width: 100%;
	height: calc(100vh - 74px - 40px - 232px);
	padding: 0px 10px;
	overflow-y: scroll;
}
#cartcontainer .checkcart .wrap{
	position: relative;
	display: flex;
	width: 100%;
	height: 130px;
	overflow: hidden;
	margin: 20px 0px;
}
#cartcontainer .checkcart .wrap .img{
	position: relative;
	display: block;
	width: 130px;
	height: 130px;
}
#cartcontainer .checkcart .wrap .img img{
	position: relative;
	display: block;
	width: auto;
	height: 100%;
	margin: auto;
}
#cartcontainer .checkcart .wrap .img a{
	position: relative;
	display: block;
	width: 130px;
	height: 100%;
	margin: auto;
}
#cartcontainer .checkcart .wrap .img .imgcloud{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 130px;
	height: auto;
}
#cartcontainer .checkcart .wrap .iteminfo{
	position: relative;
	display: block;
	width: 100%;
	padding: 10px 5px 0px 20px;
}
#cartcontainer .checkcart .wrap .iteminfo .first{
	position: relative;
	display: flex;
}
#cartcontainer .checkcart .wrap .iteminfo .first p{
	position: relative;
	display: inline-block;
	font-weight: bold;
	color: var(--g1);
}
#cartcontainer .checkcart .wrap .iteminfo .first button{
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	margin-left: auto;
	padding: 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
#cartcontainer .checkcart .wrap .iteminfo .first button:focus{
	border: none;
	outline: none;
}
#cartcontainer .checkcart .wrap .iteminfo .first button span{
	position: absolute;
	display: block;
	width: 20px;
	height: 3.5px;
	border-radius: 1000px;
	background-color: #aaa;
	transform: rotate(45deg);
	transform-origin: center;
}
#cartcontainer .checkcart .wrap .iteminfo .first button span:nth-child(2){
	transform: rotate(-45deg);
}
#cartcontainer .checkcart .wrap .iteminfo .first button:hover span{
	background-color: var(--g1);
}
#cartcontainer .checkcart .wrap .iteminfo .second{
	position: relative;
	display: block;
}
#cartcontainer .checkcart .wrap .iteminfo .second p{
	position: relative;
	display: inline-block;
	font-size: 12px;
	color: var(--g2);
}
#cartcontainer .checkcart .wrap .iteminfo .third{
	position: relative;
	display: flex;
	width: 100%;
}
#cartcontainer .checkcart .wrap .iteminfo .third .quantity{
	position: relative;
	display: flex;
	width: 90px;
	text-align: center;
	font-size: 16px;
	border: 1px solid var(--g1);
	border-radius: 1000px;
}
#cartcontainer .checkcart .wrap .iteminfo .third .quantity input{
	background-color: transparent;
	border: none;
	outline: none;
}
#cartcontainer .checkcart .wrap .iteminfo .third .quantity input::-webkit-inner-spin-button, #cartcontainer .checkcart .wrap .iteminfo .third .quantity input::-webkit-outer-spin-button{
	display: none;
}
#cartcontainer .checkcart .wrap .iteminfo .third .quantity .is-form{
	vertical-align: middle;
	cursor: pointer;
}
#cartcontainer .checkcart .wrap .iteminfo .third .quantity .is-form.minus{
	padding-left: 10px;
}
#cartcontainer .checkcart .wrap .iteminfo .third .quantity .is-form.plus{
	padding-right: 10px;
}
#cartcontainer .checkcart .wrap .iteminfo .third .quantity .input-qty{
	width: 100%;
	padding-top: 3px;
	text-align: center;
}
#cartcontainer .checkcart .wrap .iteminfo .third p{
	position: relative;
	display: block;
	margin: 0px;
	margin-left: auto;
	align-self: center;
	font-weight: bold;
}
#cartcontainer .checkcart .wrap .iteminfo .third .hide{
	display: none;
}
#cartcontainer .checkcart .wrap .iteminfo .third p:before{
	content: "$ ";
}

#cartcontainer .totaldiv{
	position: relative;
	bottom: 0;
	display: block;
	width: 100%;
	padding-top: 30px;
}
#cartcontainer .totaldiv .deli{
	position: relative;
	display: flex;
	width: 100%;
}
#cartcontainer .totaldiv .deli p{
	position: relative;
	display: inline-block;
}
#cartcontainer .totaldiv .deli p:nth-child(2), #cartcontainer .totaldiv .total p:nth-child(2){
	margin-left: auto;
}
#cartcontainer .totaldiv .deli p:nth-child(2):before, #cartcontainer .totaldiv .total p:nth-child(2):before{
	content: "$ ";
}
#cartcontainer .totaldiv .total{
	position: relative;
	display: flex;
	width: 100%;
}
#cartcontainer .totaldiv .total p{
	position: relative;
	display: inline-block;
	font-size: 1.25rem;
	font-weight: bold;
}
#cartcontainer .totaldiv .btndiv{
	position: relative;
	display: flex;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 35px;
}
#cartcontainer .totaldiv .btndiv .btn1{
	margin-left: 10px;
}
#cartcontainer .totaldiv .btndiv .btn2{
	margin-right: 10px;
}
@media (max-width: 576px){

}
@media (max-width: 992px){
	#cartcontainer{
		width: calc(100vw);
	}
}

@media (max-width: 576px){
	#menucontainer ul li a p{
		font-size: 30px;
	}

}




































