@keyframes translateY{
	0%{
		opacity: 0;
		transform: translateY(100px);
	}
	40%{
		opacity: 1;
		transform: translateY(-20px);
	}
	100%{
		
		transform: translateY(0px);
	}
}

@keyframes btnactive{
	0%{
		background-size: 200% auto;
		font-size: 100%;
	}
	50%{
		background-size: 250% auto;
		font-size: 90%;
	}
	100%{
		background-size: 200% auto;
		font-size: 100%;
	}
}
@keyframes spinsocks {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes navlink{
	0%{
		transform: translateY(50px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes signhead{
	0%{
		transform: translateX(0px) scale(1.0);
	}
	33%{
		transform: translateX(-3px) scale(.9);
	}
	67%{
		transform: translateX(3px) scale(.9);
	}
	100%{
		transform: translateX(0px) scale(1);
	}
}
@keyframes cartoval{
	0%{
		transform: translateY(0px) scale(1.0);
	}
	50%{
		transform: translateY(2px) scale(.9);
	}
	100%{
		transform: translateY(0px) scale(1.0);
	}
}
@keyframes cartspan{
	0%{
		transform: scale(1.0);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1.0);
	}
}